
body {background: #282828 ;font-family:Century, Times, sans-serif; color: #FFF; margin: 0}

.main {background:#9d9d9c;max-width:1500px;margin:0 auto;width: 100%;}
.header {background:url("../images/header.jpg") 50% 0 / 1500px no-repeat scroll; height: 210px;}
.content{background:#9d9d9c; max-width: 1500px;}
	.content-left {background:#9d9d9c; float:left; width:233px;}
	.content-right {background:#9d9d9c; float:right; width: 255px;}
		.content-right-top {background:#876543; height: 100px;}
		.content-right-middle {background:#098978;}
		.content-right-bottom {background:#345678; height: 200px;}
	.content-center {background:#dbdbd4; margin:0 auto; width: 990px;}
		.content-center-left { float:left; width: 50px; height: 400px; vertical-align: bottom; border:1px solid black;}
		.content-center-mid {background:#985634; width: 500px; overflow: hidden; margin: 23px 23px 23px 63px;}
		.content-center-right {background:#009988; float:right;  width: 200px;margin: 23px 23px 23px 23px;}

.footer {background:url(../images/footer.gif) 50% 0 / 1500px no-repeat scroll; height: 946px;border:1px solid black;}